pkgbase = python-docutils
	pkgdesc = Set of tools for processing plaintext docs into formats such as HTML, XML, or LaTeX
	pkgver = 0.21.1
	pkgrel = 4
	epoch = 1
	url = http://docutils.sourceforge.net
	arch = any
	license = custom
	checkdepends = python-pillow
	makedepends = python-build
	makedepends = python-flit-core
	makedepends = python-installer
	depends = python
	optdepends = python-myst-parser: to parse input in "Markdown" (CommonMark) format
	optdepends = python-pillow: for some image manipulation operations
	optdepends = python-pygments: for syntax highlighting of code directives and roles
	source = https://downloads.sourceforge.net/docutils/docutils-0.21.1.tar.gz
	b2sums = a89792a69a7faa0eda7b2470e5e3a3d3cf8250a3577553a8f8f8d3d86d2693394e97dca6c75c1b4815748d2ce126ccd3f71dead5763ec8b70aee7be183165473

pkgname = python-docutils
