pkgbase = python-docutils
	pkgdesc = Set of tools for processing plaintext docs into formats such as HTML, XML, or LaTeX
	pkgver = 0.21
	pkgrel = 2
	epoch = 1
	url = http://docutils.sourceforge.net
	arch = any
	license = custom
	checkdepends = python-pillow
	makedepends = python-build
	makedepends = python-flit-core
	makedepends = python-installer
	depends = python
	optdepends = python-myst-parser: to parse input in "Markdown" (CommonMark) format
	optdepends = python-pillow: for some image manipulation operations
	optdepends = python-pygments: for syntax highlighting of code directives and roles
	source = https://downloads.sourceforge.net/docutils/docutils-0.21.post1.tar.gz
	b2sums = bf8dbdb8a5641eb8a0af27682625406d27bfbd91285ed8de35ef2c648230955e69c5b87a255bad14da2820a158730e16c309a4192841b7663d2a188402a6d0de

pkgname = python-docutils
