pkgbase = python-docutils
	pkgdesc = Set of tools for processing plaintext docs into formats such as HTML, XML, or LaTeX
	pkgver = 0.20.1
	pkgrel = 3
	epoch = 1
	url = http://docutils.sourceforge.net
	arch = any
	license = custom
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	optdepends = python-myst-parser: to parse input in "Markdown" (CommonMark) format
	optdepends = python-pillow: for some image manipulation operations
	optdepends = python-pygments: for syntax highlighting of code directives and roles
	source = https://downloads.sourceforge.net/docutils/docutils-0.20.1.tar.gz
	b2sums = 73fb8302599ffe57b0840c898b0b2e3ccd39ff9ea6eec2b5d345d02c950e1a8357bd821e62733b0484e82bc30e71d30fab381390b0edaef4375b02bcd9eeeb40

pkgname = python-docutils
